<!-- new footer -->
<div class="footer fixed-botto w-100 mt-5 ">
  <div class="container-fluid ">
    <div class="row p-4 p-md-0">
      <div class="col-12 col-lg-8 border-right p-0">
        <!-- logo -->
        <div class="col-12 border-bottom ">
          <div class="row">
            <div class="col-8 col-lg-9 d-md-flex justify-content-between border-right py-3 p-md-5">
              <a href="index.html">
              <img class="logo" src="../../assets/image/logo.png" alt="" ></a>
              <p class="text-xs mt-4 ms-md-5 text-white">
                lizmotors aims to deliver the supreme service at an effective cost, ensuring a complete customer satisfaction. Emphatic use of latest tools and technology, helps our clients to grow and promote their businesses worldwide.
              </p>
            </div>
            <!-- social media -->
            <div class="col-4 col-lg-3 d-none d-md-flex flex-column justify-content-center align-items-center">
              <h5 class="text-secondary">Social Media</h5>
              <div class="d-flex flex-column justify-content-between align-items-center mt-3">
                <a class="page-link text-white" href="https://www.linkedin.com/company/lizmotors/" target="_blank">Linkedin</a>
                <a class="page-link text-white mt-2" href="" target="_blank">FaceBook</a>
                <a class="page-link text-white mt-2" href="" target="_blank">Twitter</a>
              </div>
            </div>
          </div>
        </div>
        <!-- navigation -->
        <div class="col-12 row d-md-flex mt-3 mt-md-0 ">
          <!-- product -->
          <div class=" col-6 col-md-3 lh-lg" >
            <div class="p-md-5">
            <h5 class="text-secondary">Products</h5>
            <div class="mt-3 text-white">

              <p title="Print All Results"  > <a href="" class="text-white" target="_blank" > PAR </a> </p>
              <p> <a href=" " class="text-white" target="_blank"> E-commerce Solution</a>  </p>
              <p> <a href="" class="text-white" target="_blank">Competemantra</a> </p>
              <p> <a href="" class="text-white" target="_blank">GST Billing</a> </p>
              <p>  <a href="" class="text-white" target="_blank">Transport Billing</a> </p>
            </div>
          </div>
          </div>
          <!-- navigation -->
          <div class="col-6 col-md-4 border-right">
            <div class="p-md-5">
              <h5 class="text-secondary">Navigation</h5>
              <div class="mt-3  d-flex flex-column lh-lg">
                <a class="text-white page-link" routerLink="/contact">Contact</a>
                <a class="text-white page-link" routerLink="">About</a>
                <a class="text-white page-link" routerLink="/services/electric-mobolity">Personal Safety</a>
                <a class="text-white page-link" routerLink="/services/electric-mobolity">Vehicle Gateway</a>
                <a class="text-white page-link" routerLink="/services/electric-mobolity">Electric Mobility</a>
              </div>
            </div>
          </div>
          <!-- address -->
          <div class="col-12 col-md-5">
            <div class="py-5 px-md-3">
              <div>
            <h5 class="text-secondary"><i class="bi bi-geo-alt-fill text-white"></i> Find Us</h5>
            <a href="https://goo.gl/maps/uPae2Fgv8M1tRis39" target="_blank">
              <p class="text-xs mt-2 text-white"> A -130 FF M2K AURA APPARTMENTS NEAR HILTON HOTEL SECTOR 47 GURUGRAM Gurgaon HR</p>
          </a>
          </div>
          <!--  -->
          <div class="mt-3">
            <h5 class="text-secondary"><i class="bi bi-envelope-fill text-white"></i> Mail Us</h5>
            <a href="mailto:hello@lizmotorsmobility.com">
              <p class="text-xs mt-2 text-white">hello@lizmotorsmobility.com</p>
          </a>
          <a href="mailto:hello@lizmotorsmobility.com">
          <p class="text-xs mt-1 text-white">hello@lizmotorsmobility.com</p>
        </a>
          </div>
          <!--  -->
          <div class="mt-3">
            <h5 class="text-secondary"><i class="bi bi-telephone-fill text-white"></i> Call Us</h5>
            <div class="d-flex align-items-center mt-2">
            <a href="tel:+993847543">
              <p class="text-xs text-white">+91 6884 3334</p>
          </a>
          <a href="tel:+94567578359">
          <p class="text-xs ms-3 text-white">+91 8766 3456</p>
        </a>
      </div>
          </div>
          </div>
          </div>
        </div>
      </div>
      <!-- suscribe sec -->
      <div class="col-10 col-md-12 col-lg-4 p-0 mt-md-5 mt-lg-0">
        <div class="d-flex flex-column justify-content-center px-md-5 h-100">
          <p class="text-white display-4 fw-semibold">Subscribe NewsLetter</p>
          <p class="text-secondary mt-2"> Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
          <div class="w-100 mt-3 bg-body d-flex p-1 rounded-pill">
            <input class="w-100 border-0 bg-transparent ps-3 fw-semibold text-dark" type="text " placeholder="Email Here">
            <button class="btn bg-primary rounded-circle"><i class="bi bi-arrow-right-short text-white"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
