*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.logo{
  height: 3rem !important;
}
body{
    background-color: rgb(249, 249, 249) !important;
}
.text-blue{
    color: #3419AB !important;
}
.text-cyna{
    color: #1BB0D4 !important;
}
.bg-body{
    background-color: rgb(236, 236, 236) !important;
}
.bg-light-blue{
    background-color: #d5cbff !important;
}
.bg-blue{
    background-color: #3419AB !important;
}
.bg-cyna{
    background-color: #1BB0D4 !important;
}
.border-blue{
    border-color: #3419AB !important;
}
.border-cyna{
    border-color: #1BB0D4 !important;
}
.display-font{
    font-family: 'DM Serif Display', serif;
}
input:focus{
    outline: none !important;
}
button:focus{
    outline: none !important;
}
textarea:focus{
    outline: none !important;
}
a{
    text-decoration: none !important;;
}
.text-xs{
    font-size: 0.8rem !important;
}
p,h1,h2,h3,h4,h5,h6,strong,span{
    margin-bottom: 0 !important;
}
.text-l{
    font-size: 3rem!important;
}
.text-xl{
    font-size: 5rem!important;
}
.borer-blue{
  border-color: #3419AB !important;
}
.text-head{
  text-align: center !important;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase !important;
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem !important;
  color: #383838!important;
}
.text-head::after {
  content: '';
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  height: 0.2rem;
  width: 10rem;
  background: linear-gradient(110deg, #3419AB, #1BB0D4);
  z-index: -1;
  transition: height .25s cubic-bezier(.6,0,.4,1);
}
.terminal-font{
  font-family: 'Overpass Mono', monospace;
}
/* badge */
.badge-red{
  background-color: rgb(255, 190, 190);
  color: rgb(159, 0, 0);
  border-radius: 5px;
  padding: 3px;
padding-left: 1rem;
padding-right: 1rem;
text-align: center !important;
}
.badge-blue{
  background-color: rgb(190, 200, 255);
  color: rgb(0, 48, 159);
  border-radius: 5px;
  padding: 3px;
padding-left: 1rem;
padding-right: 1rem;
text-align:center !important ;
}
.badge-green{
  background-color: rgb(204, 255, 190);
  color: rgb(19, 159, 0);
  border-radius: 5px;
  padding: 3px;
padding-left: 1rem;
padding-right: 1rem;
text-align:center !important ;
}
.badge-yellow{
  background-color: rgb(251, 255, 190);
  color: rgb(159, 159, 0);
  border-radius: 5px;
  padding: 3px;
padding-left: 1rem;
padding-right: 1rem;
text-align:center !important ;
}
.badge-voilet{
  background-color: rgb(234, 190, 255);
  color: rgb(151, 0, 159);
  border-radius: 5px;
  padding: 3px;
padding-left: 1rem;
padding-right: 1rem;
text-align:center !important ;
}
.badge-orange{
  background-color: rgb(255, 214, 190);
  color: rgb(159, 88, 0);
  border-radius: 5px;
  padding: 3px;
padding-left: 1rem;
padding-right: 1rem;
text-align:center !important ;
}
.badge-gray{
  background-color: rgb(209, 209, 209);
  color: rgb(113, 113, 113);
  border-radius: 5px;
  padding: 3px;
padding-left: 1rem;
padding-right: 1rem;
text-align:center !important ;
}
/* scrollbar */
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #3419ab #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 9px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #3419ab;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
   /* horizontal scroll */
  .horizental-scroll{
    scrollbar-width: auto;
    scrollbar-color: #8f8f8f #f9f9f9;
  }

  /* Chrome, Edge, and Safari */
  .horizental-scroll::-webkit-scrollbar {
    height: 8px;
  }

  .horizental-scroll::-webkit-scrollbar-track {
    background: #f9f9f9;
  }

  .horizental-scroll::-webkit-scrollbar-thumb {
    background-color: #8f8f8f;
    border-radius: 10px;
    border: 3px solid #f9f9f9;
  }
  .drag-scroll-content::-webkit-scrollbar {
    display: none !important;
  }
  @media only screen and (max-width: 600px) {
  .text-head{
    font-size: 1.5rem;
  }
  }
