.navbar{
  z-index: 100;
  transition-duration: 0.3s;
  top: 0;
}
.dropd-links a,.dropd-link{
  color: #3e3e3e !important;
  font-size: 1rem !important;
  text-decoration: none !important;
  transition:all 0.3s ease-in-out;
}
.dropd-links:hover a{
  margin-left: 1rem;
  background: -webkit-linear-gradient(45deg,#3419AB, #1BB0D4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  font-size: 1.1rem !important;
}
.dd-list{
  font-size: 0.8rem;
}
.dd-link:hover .dropd-link{
  margin-left: 1rem;
  background: -webkit-linear-gradient(45deg,#3419AB, #1BB0D4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.1rem !important;
  font-weight: bolder ;
  transition:all 0.3s ease-in-out;

}
.custom-links:hover{
  color: #3419AB !important;
}
.tools svg{
  height: 2rem !important;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}
.tools svg:hover{
  filter: grayscale(0);
}
.service-dropdown a:hover::before {
  bottom: 0;
  height: 100%;
}
.service-dropdown li{
  list-style-type: none;
  font-size: small;
}
.links {
    display: inline-block;
    position: relative;
    font-size: 1rem !important;
    background-color: transparent !important;
  }


  .service-items span{
    font-size: 2.0rem;
    color: #3419AB !important;
  }
  .service-items p{
    font-size: 1rem;
    color: #3419AB !important;


  }
.dropdown-menu{
background-color: white !important;
}

  .links:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #3419AB;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .nav{
    background-color: transparent;
  }
  .links:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .portfolio:hover{
    color: rgb(255, 255, 255) !important;
    background-color: #3419AB;
  }
  .contactus:hover{
    background-color: #200f6c !important;
  }
  .tools svg{
    height: 2.5rem;
    fill: rgb(178, 178, 178);
  }
  @media only screen and (min-width: 768px){
    .dropdown-menu{
      top: 5rem;
      left: -15rem;
      width: 90vw;}
  }
  @media only screen and (min-width: 1200px){
    .dropdown-menu{
      top: 5rem;
      left: -35rem;
      width:55vw;}
  }
