psycfa-flip-horizontal<app-navigation></app-navigation>
<div class="py-5">
  <div class="container">
    <div class="row header w-100 justify-content-md-center align-items-md-center">
      <div class="col-12 col-lg-6 d-none d-lg-block">
        <h4>Innovative Tech Creatives</h4>
        <h1 class="display-1 fw-semibold text-blue">Digital <br>Innovation</h1>
        <p class="border-start border-3 border-primary col-11 col-lg-8 px-3">
          lizmotors aims to deliver the supreme service at an effective cost, ensuring a complete customer satisfaction.
        </p>
        <button routerLink="/contact" class="btn bg-blue rounded-0 text-white mt-3">
          Contact
        </button>
      </div>
      <div  class="col-12 col-lg-6  d-md-block d-none s-bg-l wnd-background-video fx-none bgpos-center-center bgatt-scroll">
         <iframe width="500" height="400"  id="youtube-video" src="//www.youtube-nocookie.com/embed/sZ5BGSSCHUo?rel=0&amp;autoplay=1&amp;controls=0&amp;showinfo=0&amp;modestbranding=1&amp;iv_load_policy:=3&amp;mute=1&amp;start=0&amp;enablejsapi=1&amp;widget_referrer=https://www.lizmotors.com/&amp;origin=https://www.lizmotors.com&amp;loop=1&amp;playlist=sZ5BGSSCHUo&amp;background=1#t=0controls=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
      </div>
      <div  class="col-12 col-lg-6 d-md-none d-block s-bg-l wnd-background-video fx-none bgpos-center-center bgatt-scroll">
         <iframe width="400" height="400"  id="youtube-video" src="//www.youtube-nocookie.com/embed/sZ5BGSSCHUo?rel=0&amp;autoplay=1&amp;controls=0&amp;showinfo=0&amp;modestbranding=1&amp;iv_load_policy:=3&amp;mute=1&amp;start=0&amp;enablejsapi=1&amp;widget_referrer=https://www.lizmotors.com/&amp;origin=https://www.lizmotors.com&amp;loop=1&amp;playlist=sZ5BGSSCHUo&amp;background=1#t=0controls=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
      </div>




     

    </div>
  </div>

  <div class="col-10 mx-auto d-lg-none text-center mb-5 mt-md-5">
    <p>We Create</p>
    <h3 class="">Websites For</h3>
    <h1 class="display-1 display-font my-2 fw-bolder text-blue">
      Professionals
    </h1>
    <p class="text-xs">
      Accurate data, a customer-centric approach, and privacy by design make
      AppsFlyer the attribution platform of choice for the world’s leading
      brands
    </p>
    <button class="w-100 btn bg-blue text-white my-3">Contact</button>
  </div>
  

  <!-- service -->
  <!-- count -->
  <div class="count my-5 bg-blue p-lg-5 p-3">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <!--  -->
        <div class="col-5 col-md-2 p-2 rounded count-card text-center">
          <div class="count-icon">
            <img src="/assets/icons/count/employee.svg" alt="" />
          </div>
          <p class="mt-2 text-white">Employees</p>
          <h4 class="fs-1 text-white fw-bold">40-50</h4>
        </div>
        <!--  -->
        <div class="col-5 col-md-2 p-2 ms-5 rounded count-card text-center">
          <div class="count-icon">
            <img src="/assets/icons/count/project.svg" alt="" />
          </div>
          <p class="mt-2 text-white">Projects</p>
          <h4 class="fs-1 text-white fw-bold">90+</h4>
        </div>
        <!--  -->
        <div class="col-5 col-md-2 p-2 ms-md-5 rounded count-card text-center">
          <div class="count-icon">
            <img src="/assets/icons/count/industry.svg" alt="" />
          </div>
          <p class="mt-2 text-white">Industrys</p>
          <h4 class="fs-1 text-white fw-bold">6</h4>
        </div>
        <!--  -->
        <div class="col-5 col-md-2 p-2 ms-5 rounded count-card text-center">
          <div class="count-icon">
            <img src="/assets/icons/count/happy-client.svg" alt="" />
          </div>
          <p class="mt-2 text-white">YEARS OF EXPERIENCE</p>
          <h4 class="fs-1 fw-bold text-white">6+</h4>
        </div>
        <!--  -->
      </div>
    </div>
  </div>
  <!-- count -->
  <app-clientlogo-carousel></app-clientlogo-carousel>
  <!-- industry -->
  <h4 class="text-head">Industry We Serve</h4>
  <!-- industry 2-->
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4 d-md-flex d-lg-block gap-3 justify-content-center">
        <!-- edu -->
        <div class="col-12 col-md-6 col-lg-12 industry2-card bg-transparent">
          <div class="edu-sec position-relative rounded-3">
            <img class="industry2-img rounded-3" src="assets\icons\industry-imgs\education.jpg" alt=""  />
          </div>
          <div class="industry2-content d-flex align-items-end p-2 rounded-3">
            <h4 class="d-flex justify-content-start align-items-center text-white">
              <span class="material-symbols-outlined fs-1 me-2"> school </span>
              Education sector
            </h4>
          </div>
        </div>
        <!--medical  -->
        <div class="col-12 col-md-6 col-lg-12 industry2-card bg-transparent mt-lg-3 mt-3 mt-md-0">
          <div class="edu-sec position-relative rounded-3">
            <img class="industry2-img rounded-3"
            src="assets\icons\industry-imgs\medical.jpg"
              alt="" />
          </div>
          <div class="industry2-content d-flex align-items-end p-2 rounded-3">
            <h4 class="d-flex justify-content-start align-items-center text-white">
              <span class="material-symbols-outlined fs-1 me-2">
                medical_services </span>Medical sector
            </h4>
          </div>
        </div>
        <!--  -->
      </div>
      <!-- finance -->
      <div class="col-12 mt-3 mt-lg-0 col-lg-4 industry2-card p-md-0">
        <div class="h-100 overflow-hidden position-relative">
          <img class="industry2-img rounded-3"
            src="assets\icons\industry-imgs\manifacture.jpg"
            alt="" />
        </div>
        <div class="industry2-content-finance d-flex align-items-end p-2 rounded-3">
          <h4 class="d-flex justify-content-start align-items-center text-white">
            <span class="material-symbols-outlined fs-1 me-2"> monitoring </span>Financial sector
          </h4>
        </div>
      </div>
      <!--  -->
      <div
        class="col-12 col-lg-2 mt-3 ms-lg-3 mt-lg-0 d-lg-block d-md-flex justify-content-between align-content-center p-lg-0 gap-3">
        <!-- retail -->
        <div class="col-12 col-md-6 col-lg-12 industry2-card p-0">
          <div class="edu-sec position-relative overflow-hidden">
            <img class="industry2-img rounded-3" src="/assets/image/manifacture.png" alt="" />
          </div>
          <div class="industry2-content d-flex align-items-end p-2 rounded-3">
            <h4 class="d-flex justify-content-start align-items-center text-white fs-6">
              <span class="material-symbols-outlined me-2"> square_foot </span>Manifacture sector
            </h4>
          </div>
        </div>
        <!-- manifacture -->
        <div class="col-12 col-md-6 col-lg-12 mt-lg-3 industry2-card p-0 mt-3 mt-md-0">
          <div class="edu-sec position-relative">
            <img class="industry2-img rounded-3" src="assets\image\mech-mind-sTzb90A1Abs-unsplash.jpg" alt="" />
          </div>
          <div class="industry2-content d-flex align-items-end p-2 rounded-3">
            <h4 class="d-flex justify-content-start align-items-center text-white fs-6">
              <span class="material-symbols-outlined me-2"> storefront </span>person sefty
            </h4>
          </div>
        </div>
        <!--  -->
      </div>
      <!--  -->
    </div>
  </div>
  <!-- industry 2-->

  <!-- promise -->
  <div class="promise-bg my-5 py-5">
    <div class="col-12 mx-auto my-5 py-5 text-center p-4 rounded promise">
      <div class="">

        <h3 class="fw-bold fs-1 text-blue">We Promise. We Deliver.</h3>
        <p>
          Have an idea? Work with us and see how it goes. We promise to go the
          extra mile for every project that we take onboard.
        </p>
        <p class="fw-semibold mt-2">
          The first 7 days are on us with ZERO upfront investment.
        </p>
      </div>
    </div>
  </div>
  <!-- promise -->
  <!-- ************************ -->


  <!-- wrapperdiv -->
</div>
<app-footer></app-footer>
